body {
    font-family: 'Montserrat', sans-serif;
}

.container-wrapper {}

.container-wrapper--teal {
    background-color: #07a5a5;
    color: white;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #d6ae33;
    border-color: #d6ae33;
}

.callout-container {
    height: 100vh;

    background: url("../images/whiskey-background.jpg") no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.quotes-container {}

.features-container {}

/*Page headers*/

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

.monthly-container {}

/*Block Dividers*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--teal {
    background-color: #07a5a5;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/*Content containers*/

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*Navbar*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0, 25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-size: 1.15rem;
    font-weight: bold;
}

.nav-link {
    font-size: 0.8rem;
    font-weight: bold;
}

.navbar-text {
    font-size: 0.8rem;
    font-weight: bold;
}

/*Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #628cb7;
    font-weight: bold;
    color: #fff;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 30px;
}

.jumbotron .lead {
    font-size: 1.40rem;
    font-weight: 300;
    color: #b4b9bd;
}

.jumbotron small {
    font-size: 90%;
    font-weight: 500;
    color: White;
}

/*Buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--teal {
    color: white;
    background-color: #07a5a5;
    border-color: #07a5a5;
}

.btn--teal:hover,
.btn--teal:active,
.btn--teal:focus,
.btn--teal:active:focus {
    background-color: #088484;
    border-color: #088484;
}

.btn--signin {
    font-size: 0.9rem;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #07a5a5;
}